// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace ProcessingAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProcessingAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProcessingAccountsClient.Options>;

    constructor(options: ProcessingAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to retrieve information about a specific processing account.
     *
     * To retrieve a processing account, you need its processingAccountId. Our gateway returned the processingAccountId in the response of the [Create Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create) method or the [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method.
     *
     * **Note:** If you don't have the processingAccountId, use our [List Merchant Platform's Processing Accounts](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list-processing-accounts) method to search for the processing account.
     *
     * Our gateway returns the following information about the processing account:
     *
     * -	Business information, including the Merchant Category Code (MCC), status of the processing account, and address of the business.
     * -	Processing information, including the merchant’s refund policies and card types that the merchant accepts.
     * -	Funding information, including funding schedules, funding fees, and details for the merchant’s funding accounts.
     * -	Pricing information, including [HATEOAS](https://docs.payroc.com/knowledge/basic-concepts/hypermedia-as-the-engine-of-application-state-hateoas) links to retrieve the pricing program for the processing account.
     *
     * @param {Payroc.boarding.RetrieveProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.retrieve({
     *         processingAccountId: "38765"
     *     })
     */
    public retrieve(
        request: Payroc.boarding.RetrieveProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.ProcessingAccount> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.boarding.RetrieveProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.ProcessingAccount>> {
        const { processingAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.ProcessingAccount, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-accounts/{processingAccountId}",
        );
    }

    /**
     * Use this method to return a list of funding accounts linked to a processing acccount.
     *
     * To retrieve a list of funding accounts for a processing account, you need the processingAccountId. Our gateway returned the processingAccountId in the response of the [Create Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create) method or the [Create Proccessing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method.
     *
     * Our gateway returns information about the following for each funding account in the list:
     * - Account information, including the name on the account and payment methods.
     * - Status, including whether we have approved or rejected the account.
     *
     * For each funding account, we also return its fundingAccountId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.boarding.ListProcessingAccountFundingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.listProcessingAccountFundingAccounts({
     *         processingAccountId: "38765"
     *     })
     */
    public listProcessingAccountFundingAccounts(
        request: Payroc.boarding.ListProcessingAccountFundingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.FundingAccount[]> {
        return core.HttpResponsePromise.fromPromise(
            this.__listProcessingAccountFundingAccounts(request, requestOptions),
        );
    }

    private async __listProcessingAccountFundingAccounts(
        request: Payroc.boarding.ListProcessingAccountFundingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.FundingAccount[]>> {
        const { processingAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/funding-accounts`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.FundingAccount[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-accounts/{processingAccountId}/funding-accounts",
        );
    }

    /**
     * Use this method to return a list of contacts for a processing account.
     *
     * **Note:** If you want to view the details of a specific contact and you have their contactId, use our [Retrieve Contact](https://docs.payroc.com/api/schema/boarding/contacts/retrieve) method.
     *
     * To list contacts for a processing account, you need the processingAccountId. Our gateway returned the processingAccountId in the response of the [Create Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create) method or the [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method.
     *
     * Our gateway returns the following information about each contact:
     *
     * - Name and contact method, including their phone number or mobile number.
     * - Role within the business, for example, if they are a manager.
     *
     * For each contact, we also return a contactId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.boarding.ListContactsProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.listContacts({
     *         processingAccountId: "38765",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public listContacts(
        request: Payroc.boarding.ListContactsProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.PaginatedContacts> {
        return core.HttpResponsePromise.fromPromise(this.__listContacts(request, requestOptions));
    }

    private async __listContacts(
        request: Payroc.boarding.ListContactsProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.PaginatedContacts>> {
        const { processingAccountId, before, after, limit } = request;
        const _queryParams: Record<string, unknown> = {
            before,
            after,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/contacts`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.PaginatedContacts, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-accounts/{processingAccountId}/contacts",
        );
    }

    /**
     * Use this method to retrieve the pricing agreement that we apply to a processing account.
     *
     * To retrieve the pricing agreement of a processing account, you need the processingAccountId. Our gateway returned the processingAccountId in the response to the [Create Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create) method and [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method.
     *
     * **Note:** If you don't have the processingAccountId, use our [List Merchant Platform’s Processing Accounts](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list-processing-accounts) method to search for the processing account.
     *
     * Our gateway returns the following information about the pricing agreement that we apply to the processing account:
     *
     * - Base fees, including the annual fee and the fees for each chargeback and retrieval.
     * - Processor fees, including the fees that we apply for processing card and ACH payments.
     * - Gateway fees, including the setup fee and the fees for each transaction.
     * - Service fees, including the fee that we apply if the merchant has signed up to a Hardware Advantage Plan.
     *
     * @param {Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.getProcessingAccountPricingAgreement({
     *         processingAccountId: "38765"
     *     })
     */
    public getProcessingAccountPricingAgreement(
        request: Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getProcessingAccountPricingAgreement(request, requestOptions),
        );
    }

    private async __getProcessingAccountPricingAgreement(
        request: Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsResponse>> {
        const { processingAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/pricing`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payroc.boarding.GetProcessingAccountPricingAgreementProcessingAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-accounts/{processingAccountId}/pricing",
        );
    }

    /**
     * Use this method to return a list of owners of a processing account.
     *
     * **Note:** If you want to view the details of a specific owner and you have the ownerId, go to our [Retrieve Owner](https://docs.payroc.com/api/schema/boarding/owners/retrieve) method.
     *
     * To list the owners of a processing account, you need its processingAccountId. If you don't have the processingAccountId, use our [List Merchant Platform's Processing Accounts](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list-processing-accounts) method to search for the processing account.
     *
     * Our gateway returns the following information about each owner in the list:
     *
     * - Name, date of birth, and address.
     * - Contact details, including their email address.
     * - Relationship to the business, including whether they are a control prong or authorized signatory, and their equity stake in the business.
     *
     * @param {Payroc.boarding.ListProcessingAccountOwnersRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.listOwners({
     *         processingAccountId: "38765",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public async listOwners(
        request: Payroc.boarding.ListProcessingAccountOwnersRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.PayrocPager<Payroc.Owner, Payroc.PaginatedOwners>> {
        const { processingAccountId, before, after, limit } = request;
        const _queryParams: Record<string, unknown> = {
            before,
            after,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _request = {
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/owners`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        };
        const _sendRequest = async (request: core.Fetcher.Args) => {
            const _response = await core.fetcher<Payroc.PaginatedOwners>(request);
            if (_response.ok) {
                return _response;
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Payroc.BadRequestError(
                            _response.error.body as Payroc.FourHundred,
                            _response.rawResponse,
                        );
                    case 401:
                        throw new Payroc.UnauthorizedError(
                            _response.error.body as Payroc.FourHundredOne,
                            _response.rawResponse,
                        );
                    case 404:
                        throw new Payroc.NotFoundError(
                            _response.error.body as Payroc.FourHundredFour,
                            _response.rawResponse,
                        );
                    case 406:
                        throw new Payroc.NotAcceptableError(
                            _response.error.body as Payroc.FourHundredSix,
                            _response.rawResponse,
                        );
                    case 500:
                        throw new Payroc.InternalServerError(
                            _response.error.body as Payroc.FiveHundred,
                            _response.rawResponse,
                        );
                    default:
                        throw new errors.PayrocError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                            rawResponse: _response.rawResponse,
                        });
                }
            }
            return handleNonStatusCodeError(
                _response.error,
                _response.rawResponse,
                "GET",
                "/processing-accounts/{processingAccountId}/owners",
            );
        };
        return core.createPayrocPager<Payroc.Owner, Payroc.PaginatedOwners>({
            sendRequest: _sendRequest,
            initialHttpRequest: _request,
            clientOptions: this._options,
            requestOptions: requestOptions,
        });
    }

    /**
     * Use this method to prompt a merchant to sign their pricing agreement.
     *
     * You can create a reminder only if you requested the merchant’s signature by email when you created the processing account for the merchant.
     *
     * To create a reminder, you need the processingAccountId. Our gateway returned the processingAccountId in the response of the [Create Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create) method or [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method.
     *
     * **Note:** If you don’t know the processingAccountId, use our [List Merchant Platform’s Processing Accounts](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list-processing-accounts) method to search for the processing account.
     *
     * When you send a successful request, we send an email to the merchant that prompts them to sign their pricing agreement.
     *
     * @param {Payroc.boarding.CreateReminderProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.createReminder({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingAccountId: "38765",
     *         body: {
     *             type: "pricingAgreement"
     *         }
     *     })
     */
    public createReminder(
        request: Payroc.boarding.CreateReminderProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.boarding.CreateReminderProcessingAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createReminder(request, requestOptions));
    }

    private async __createReminder(
        request: Payroc.boarding.CreateReminderProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.boarding.CreateReminderProcessingAccountsResponse>> {
        const { processingAccountId, "Idempotency-Key": idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/reminders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payroc.boarding.CreateReminderProcessingAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/processing-accounts/{processingAccountId}/reminders",
        );
    }

    /**
     * Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of terminal orders associated with a processing account.
     *
     * **Note:** If you want to view the details of a specific terminal order and you have its terminalOrderId, use our [Retrieve Terminal Order](https://docs.payroc.com/api/schema/boarding/terminal-orders/retrieve) method.
     *
     * Use the query parameters to filter the list of results that we return, for example, to search for terminal orders by their status.
     *
     * To list the terminal orders for a processing account, you need its processingAccountId. If you don't have the processingAccountId, use our [List Merchant Platforms](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list) method to search for a merchant platform and its processing accounts.
     *
     * Our gateway returns the following information for each terminal order in the list:
     *
     * - Status of the order
     * - Items in the order
     * - Training provider
     * - Shipping information
     *
     * For each terminal order, we also return its terminalOrderId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.boarding.ListTerminalOrdersProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.listTerminalOrders({
     *         processingAccountId: "38765",
     *         status: "open",
     *         fromDateTime: "2024-09-08T12:00:00Z",
     *         toDateTime: "2024-12-08T11:00:00Z"
     *     })
     */
    public listTerminalOrders(
        request: Payroc.boarding.ListTerminalOrdersProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.TerminalOrder[]> {
        return core.HttpResponsePromise.fromPromise(this.__listTerminalOrders(request, requestOptions));
    }

    private async __listTerminalOrders(
        request: Payroc.boarding.ListTerminalOrdersProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.TerminalOrder[]>> {
        const { processingAccountId, status, fromDateTime, toDateTime } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            fromDateTime: fromDateTime != null ? fromDateTime : undefined,
            toDateTime: toDateTime != null ? toDateTime : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/terminal-orders`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.TerminalOrder[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-accounts/{processingAccountId}/terminal-orders",
        );
    }

    /**
     * Use this method to order and configure terminals for a processing account.
     *
     * **Note**: You need the ID of the processing account before you can create an order. If you don't know the processingAccountId, go to the [Retrieve a Merchant Platform](https://docs.payroc.com/api/schema/boarding/merchant-platforms/retrieve) method.
     *
     * In the request, specify the gateway settings, device settings, and application settings for the terminal.
     *
     * In the response, our gateway returns information about the terminal order including its status and terminalOrderId that you can use to [retrieve the terminal order](https://docs.payroc.com/api/schema/boarding/terminal-orders/retrieve).
     *
     * **Note**: You can subscribe to the terminalOrder.status.changed event to get notifications when we update the status of a terminal order. For more information about how to subscribe to events, go to [Events Subscriptions](https://docs.payroc.com/guides/board-merchants/event-subscriptions).
     *
     * @param {Payroc.boarding.CreateTerminalOrder} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.createTerminalOrder({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingAccountId: "38765",
     *         trainingProvider: "payroc",
     *         shipping: {
     *             preferences: {
     *                 method: "nextDay",
     *                 saturdayDelivery: true
     *             },
     *             address: {
     *                 recipientName: "Recipient Name",
     *                 businessName: "Company Ltd",
     *                 addressLine1: "1 Example Ave.",
     *                 addressLine2: "Example Address Line 2",
     *                 city: "Chicago",
     *                 state: "Illinois",
     *                 postalCode: "60056",
     *                 email: "example@mail.com",
     *                 phone: "2025550164"
     *             }
     *         },
     *         orderItems: [{
     *                 type: "solution",
     *                 solutionTemplateId: "Roc Services_DX8000",
     *                 solutionQuantity: 1,
     *                 deviceCondition: "new",
     *                 solutionSetup: {
     *                     timezone: "America/Chicago",
     *                     industryTemplateId: "Retail",
     *                     gatewaySettings: {
     *                         merchantPortfolioId: "Company Ltd",
     *                         merchantTemplateId: "Company Ltd Merchant Template",
     *                         userTemplateId: "Company Ltd User Template",
     *                         terminalTemplateId: "Company Ltd Terminal Template"
     *                     },
     *                     applicationSettings: {
     *                         clerkPrompt: false,
     *                         security: {
     *                             refundPassword: true,
     *                             keyedSalePassword: false,
     *                             reversalPassword: true
     *                         }
     *                     },
     *                     deviceSettings: {
     *                         numberOfMobileUsers: 2,
     *                         communicationType: "wifi"
     *                     },
     *                     batchClosure: {
     *                         batchCloseType: "automatic"
     *                     },
     *                     receiptNotifications: {
     *                         emailReceipt: true,
     *                         smsReceipt: false
     *                     },
     *                     taxes: [{
     *                             taxRate: 6,
     *                             taxLabel: "Sales Tax"
     *                         }],
     *                     tips: {
     *                         enabled: false
     *                     },
     *                     tokenization: true
     *                 }
     *             }]
     *     })
     */
    public createTerminalOrder(
        request: Payroc.boarding.CreateTerminalOrder,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.TerminalOrder> {
        return core.HttpResponsePromise.fromPromise(this.__createTerminalOrder(request, requestOptions));
    }

    private async __createTerminalOrder(
        request: Payroc.boarding.CreateTerminalOrder,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.TerminalOrder>> {
        const { processingAccountId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/terminal-orders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.TerminalOrder, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/processing-accounts/{processingAccountId}/terminal-orders",
        );
    }

    /**
     * Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of processing terminals associated with a processing account.
     *
     * **Note:** If you want to view the details of a specific processing terminal and you have its processingTerminalId, use our [Retrieve Processing Terminal](https://docs.payroc.com/api/schema/boarding/processing-terminals/retrieve) method.
     *
     * To list the terminals for a processing account, you need its processingAccountId. If you don't have the processingAccountId, use our [List Merchant Platforms](https://docs.payroc.com/api/schema/boarding/merchant-platforms/list) method to search for a merchant platform and its processing accounts.
     *
     * Our gateway returns the following information for each processing terminal in the list:
     *
     * - Status indicating whether the terminal is active or inactive.
     * - Configuration settings, including gateway settings and application settings.
     * - Features, receipt settings, and security settings.
     * - Devices that use the processing terminal's configuration.
     *
     * For each processing terminal, we also return its processingTerminalId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.boarding.ListProcessingTerminalsProcessingAccountsRequest} request
     * @param {ProcessingAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.processingAccounts.listProcessingTerminals({
     *         processingAccountId: "38765",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public async listProcessingTerminals(
        request: Payroc.boarding.ListProcessingTerminalsProcessingAccountsRequest,
        requestOptions?: ProcessingAccountsClient.RequestOptions,
    ): Promise<core.PayrocPager<Payroc.ProcessingTerminal, Payroc.PaginatedProcessingTerminals>> {
        const { processingAccountId, before, after, limit } = request;
        const _queryParams: Record<string, unknown> = {
            before,
            after,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _request = {
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-accounts/${core.url.encodePathParam(processingAccountId)}/processing-terminals`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        };
        const _sendRequest = async (request: core.Fetcher.Args) => {
            const _response = await core.fetcher<Payroc.PaginatedProcessingTerminals>(request);
            if (_response.ok) {
                return _response;
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Payroc.BadRequestError(
                            _response.error.body as Payroc.FourHundred,
                            _response.rawResponse,
                        );
                    case 401:
                        throw new Payroc.UnauthorizedError(
                            _response.error.body as Payroc.FourHundredOne,
                            _response.rawResponse,
                        );
                    case 403:
                        throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                    case 404:
                        throw new Payroc.NotFoundError(
                            _response.error.body as Payroc.FourHundredFour,
                            _response.rawResponse,
                        );
                    case 406:
                        throw new Payroc.NotAcceptableError(
                            _response.error.body as Payroc.FourHundredSix,
                            _response.rawResponse,
                        );
                    case 500:
                        throw new Payroc.InternalServerError(
                            _response.error.body as Payroc.FiveHundred,
                            _response.rawResponse,
                        );
                    default:
                        throw new errors.PayrocError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                            rawResponse: _response.rawResponse,
                        });
                }
            }
            return handleNonStatusCodeError(
                _response.error,
                _response.rawResponse,
                "GET",
                "/processing-accounts/{processingAccountId}/processing-terminals",
            );
        };
        return core.createPayrocPager<Payroc.ProcessingTerminal, Payroc.PaginatedProcessingTerminals>({
            sendRequest: _sendRequest,
            initialHttpRequest: _request,
            clientOptions: this._options,
            requestOptions: requestOptions,
        });
    }
}
