// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace RefundsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RefundsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RefundsClient.Options>;

    constructor(options: RefundsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to cancel or to partially cancel a payment in an open batch. This is also known as voiding a payment.
     *
     * To cancel a payment, you need its paymentId. Our gateway returned the paymentId in the response of the [Create Payment](https://docs.payroc.com/api/schema/card-payments/payments/create) method.
     *
     * **Note:** If you don't have the paymentId, use our [List Payments](https://docs.payroc.com/api/schema/card-payments/payments/list) method to search for the payment.
     *
     * If your request is successful, our gateway removes the payment from the merchant's open batch and no funds are taken from the cardholder's account.
     *
     * @param {Payroc.cardPayments.PaymentReversal} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.reverse({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         paymentId: "M2MJOG6O2Y",
     *         amount: 4999
     *     })
     */
    public reverse(
        request: Payroc.cardPayments.PaymentReversal,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.Payment> {
        return core.HttpResponsePromise.fromPromise(this.__reverse(request, requestOptions));
    }

    private async __reverse(
        request: Payroc.cardPayments.PaymentReversal,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.Payment>> {
        const { paymentId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `payments/${core.url.encodePathParam(paymentId)}/reverse`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.Payment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/payments/{paymentId}/reverse",
        );
    }

    /**
     * Use this method to refund a payment that is in a closed batch.
     *
     * To refund a payment, you need its paymentId. Our gateway returned the paymentId in the response of the [Create Payment](https://docs.payroc.com/api/schema/card-payments/payments/create) method.
     *
     * **Note:** If you don't have the paymentId, use our [List Payments](https://docs.payroc.com/api/schema/card-payments/payments/list) method to search for the payment.
     *
     * If your refund is successful, our gateway returns the payment amount to the cardholder's account.
     *
     * **Things to consider**
     *
     * - If the merchant refunds a payment that is in an open batch, our gateway reverses the payment.
     * - Some merchants can run unreferenced refunds, which means that they don't need a paymentId to return an amount to a customer. For more information about how to run an unreferenced refund, go to [Create Refund](https://docs.payroc.com/api/schema/card-payments/refunds/create-unreferenced-refund).
     *
     * @param {Payroc.cardPayments.ReferencedRefund} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.createReferencedRefund({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         paymentId: "M2MJOG6O2Y",
     *         amount: 4999,
     *         description: "Refund for order OrderRef6543"
     *     })
     */
    public createReferencedRefund(
        request: Payroc.cardPayments.ReferencedRefund,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.Payment> {
        return core.HttpResponsePromise.fromPromise(this.__createReferencedRefund(request, requestOptions));
    }

    private async __createReferencedRefund(
        request: Payroc.cardPayments.ReferencedRefund,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.Payment>> {
        const { paymentId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `payments/${core.url.encodePathParam(paymentId)}/refund`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.Payment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/payments/{paymentId}/refund");
    }

    /**
     * Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of refunds.
     *
     * **Note:** If you want to view the details of a specific refund and you have its refundId, use our [Retrieve Refund](https://docs.payroc.com/api/schema/card-payments/refunds/retrieve) method.
     *
     * Use query parameters to filter the list of results that we return, for example, to search for refunds for a customer, a tender type, or a date range.
     * Our gateway returns the following information about each refund in the list:
     * - Order details, including the refund amount and when we processed the refund.
     * - Payment card details, including the masked card number, expiry date, and payment method.
     * - Cardholder details, including their contact information and shipping address.
     *
     * For referenced refunds, our gateway also returns details about the payment that the refund is linked to.
     *
     * @param {Payroc.cardPayments.ListRefundsRequest} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.list({
     *         processingTerminalId: "1234001",
     *         orderId: "OrderRef6543",
     *         operator: "Jane",
     *         cardholderName: "Sarah%20Hazel%20Hopper",
     *         first6: "453985",
     *         last4: "7062",
     *         tender: "ebt",
     *         dateFrom: "2024-07-01T15:30:00Z",
     *         dateTo: "2024-07-03T15:30:00Z",
     *         settlementState: "settled",
     *         settlementDate: "2024-07-02",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public async list(
        request: Payroc.cardPayments.ListRefundsRequest = {},
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.PayrocPager<Payroc.RetrievedRefund, Payroc.RefundPaginatedList>> {
        const {
            processingTerminalId,
            orderId,
            operator,
            cardholderName,
            first6,
            last4,
            tender,
            status,
            dateFrom,
            dateTo,
            settlementState,
            settlementDate,
            before,
            after,
            limit,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (processingTerminalId != null) {
            _queryParams.processingTerminalId = processingTerminalId;
        }

        if (orderId != null) {
            _queryParams.orderId = orderId;
        }

        if (operator != null) {
            _queryParams.operator = operator;
        }

        if (cardholderName != null) {
            _queryParams.cardholderName = cardholderName;
        }

        if (first6 != null) {
            _queryParams.first6 = first6;
        }

        if (last4 != null) {
            _queryParams.last4 = last4;
        }

        if (tender != null) {
            _queryParams.tender = tender;
        }

        if (status != null) {
            if (Array.isArray(status)) {
                _queryParams.status = status.map((item) => item);
            } else {
                _queryParams.status = status;
            }
        }

        if (dateFrom != null) {
            _queryParams.dateFrom = dateFrom;
        }

        if (dateTo != null) {
            _queryParams.dateTo = dateTo;
        }

        if (settlementState != null) {
            _queryParams.settlementState = settlementState;
        }

        if (settlementDate != null) {
            _queryParams.settlementDate = settlementDate;
        }

        if (before != null) {
            _queryParams.before = before;
        }

        if (after != null) {
            _queryParams.after = after;
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _request = {
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                "refunds",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        };
        const _sendRequest = async (request: core.Fetcher.Args) => {
            const _response = await core.fetcher<Payroc.RefundPaginatedList>(request);
            if (_response.ok) {
                return _response;
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Payroc.BadRequestError(
                            _response.error.body as Payroc.FourHundred,
                            _response.rawResponse,
                        );
                    case 401:
                        throw new Payroc.UnauthorizedError(
                            _response.error.body as Payroc.FourHundredOne,
                            _response.rawResponse,
                        );
                    case 403:
                        throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                    case 406:
                        throw new Payroc.NotAcceptableError(
                            _response.error.body as Payroc.FourHundredSix,
                            _response.rawResponse,
                        );
                    case 500:
                        throw new Payroc.InternalServerError(
                            _response.error.body as Payroc.FiveHundred,
                            _response.rawResponse,
                        );
                    default:
                        throw new errors.PayrocError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                            rawResponse: _response.rawResponse,
                        });
                }
            }
            return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/refunds");
        };
        return core.createPayrocPager<Payroc.RetrievedRefund, Payroc.RefundPaginatedList>({
            sendRequest: _sendRequest,
            initialHttpRequest: _request,
            clientOptions: this._options,
            requestOptions: requestOptions,
        });
    }

    /**
     * Use this method to create an unreferenced refund. An unreferenced refund is a refund that isn't linked to a payment.
     *
     * **Note:** If you have the paymentId of the payment you want to refund, use our [Refund Payment](https://docs.payroc.com/api/schema/card-payments/refunds/create-referenced-refund) method. If you use our Refund Payment method, our gateway sends the refund amount to the customer's original payment method and links the refund to the payment.
     *
     * In the request, you must provide the customer's payment details and the refund amount.
     *
     * In the response, our gateway returns information about the refund and a refundId, which you need for the following methods:
     *
     * - [Retrieve refund](https://docs.payroc.com/api/schema/card-payments/refunds/retrieve) - View the details of the refund.
     * - [Adjust refund](https://docs.payroc.com/api/schema/card-payments/refunds/adjust) - Update the details of the refund.
     * - [Reverse refund](https://docs.payroc.com/api/schema/card-payments/refunds/reverse-refund) - Cancel the refund if it's in an open batch.
     *
     * @param {Payroc.cardPayments.UnreferencedRefund} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.createUnreferencedRefund({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         channel: "pos",
     *         processingTerminalId: "1234001",
     *         order: {
     *             orderId: "OrderRef6543",
     *             description: "Refund for order OrderRef6543",
     *             amount: 4999,
     *             currency: "USD"
     *         },
     *         refundMethod: {
     *             type: "card",
     *             cardDetails: {
     *                 entryMethod: "raw",
     *                 device: {
     *                     model: "bbposChp",
     *                     serialNumber: "1850010868"
     *                 },
     *                 rawData: "A1B2C3D4E5F67890ABCD1234567890ABCDEF1234567890ABCDEF1234567890ABCDEF"
     *             }
     *         },
     *         customFields: [{
     *                 name: "yourCustomField",
     *                 value: "abc123"
     *             }]
     *     })
     */
    public createUnreferencedRefund(
        request: Payroc.cardPayments.UnreferencedRefund,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RetrievedRefund> {
        return core.HttpResponsePromise.fromPromise(this.__createUnreferencedRefund(request, requestOptions));
    }

    private async __createUnreferencedRefund(
        request: Payroc.cardPayments.UnreferencedRefund,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RetrievedRefund>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                "refunds",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RetrievedRefund, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/refunds");
    }

    /**
     * Use this method to retrieve information about a refund.
     *
     * To retrieve a refund, you need its refundId. Our gateway returned the refundId in the response of the [Refund Payment](https://docs.payroc.com/api/schema/card-payments/refunds/create-referenced-refund) method or the [Create Refund](https://docs.payroc.com/api/schema/card-payments/refunds/create-unreferenced-refund) method.
     *
     * **Note:** If you don't have the refundId, use our [List Refunds](https://docs.payroc.com/api/schema/card-payments/refunds/list) method to search for the refund.
     *
     * Our gateway returns the following information about the refund:
     * - Order details, including the refund amount and when we processed the refund.
     * - Payment card details, including the masked card number, expiry date, and payment method.
     * - Cardholder details, including their contact information and shipping address.
     *
     * If the refund is a referenced refund, our gateway also returns details about the payment that the refund is linked to.
     *
     * @param {Payroc.cardPayments.RetrieveRefundsRequest} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.retrieve({
     *         refundId: "CD3HN88U9F"
     *     })
     */
    public retrieve(
        request: Payroc.cardPayments.RetrieveRefundsRequest,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RetrievedRefund> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.cardPayments.RetrieveRefundsRequest,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RetrievedRefund>> {
        const { refundId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `refunds/${core.url.encodePathParam(refundId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RetrievedRefund, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/refunds/{refundId}");
    }

    /**
     * Use this method to adjust a refund in an open batch.
     *
     * To adjust a refund, you need its refundId. Our gateway returned the refundId in the response of the [Refund Payment](https://docs.payroc.com/api/schema/card-payments/refunds/create-referenced-refund) method or the [Create Refund](https://docs.payroc.com/api/schema/card-payments/refunds/create-unreferenced-refund) method.
     *
     * **Note:** If you don’t have the refundId, use our [List Refunds](https://docs.payroc.com/api/schema/card-payments/refunds/list) method to search for the refund.
     *
     * You can adjust the following details of the refund:
     * - Customer details, including shipping address and contact information.
     * - Status of the refund.
     *
     * Our gateway returns information about the adjusted refund, including:
     * - Order details, including the refund amount and when we processed the refund.
     * - Payment card details, including the masked card number, expiry date, and payment method.
     * - Cardholder details, including their contact information and shipping address.
     *
     * If the refund is a referenced refund, our gateway also returns details about the payment that the refund is linked to.
     *
     * @param {Payroc.cardPayments.RefundAdjustment} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.adjust({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         refundId: "CD3HN88U9F",
     *         operator: "Jane",
     *         adjustments: [{
     *                 type: "customer"
     *             }]
     *     })
     */
    public adjust(
        request: Payroc.cardPayments.RefundAdjustment,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RetrievedRefund> {
        return core.HttpResponsePromise.fromPromise(this.__adjust(request, requestOptions));
    }

    private async __adjust(
        request: Payroc.cardPayments.RefundAdjustment,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RetrievedRefund>> {
        const { refundId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `refunds/${core.url.encodePathParam(refundId)}/adjust`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RetrievedRefund, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/refunds/{refundId}/adjust");
    }

    /**
     * Use this method to cancel a refund in an open batch.
     *
     * To cancel a refund, you need its refundId. Our gateway returned the refundId in the response of the [Refund Payment](https://docs.payroc.com/api/schema/card-payments/refunds/create-referenced-refund) or [Create Refund](https://docs.payroc.com/api/schema/card-payments/refunds/create-unreferenced-refund) method.
     *
     * **Note:** If you don’t have the refundId, use our [List Refunds](https://docs.payroc.com/api/schema/card-payments/refunds/list) method to search for the refund.
     *
     * If your request is successful, the gateway removes the refund from the merchant’s open batch and no funds are returned to the cardholder’s account.
     *
     * @param {Payroc.cardPayments.ReverseRefundRefundsRequest} request
     * @param {RefundsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.cardPayments.refunds.reverseRefund({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         refundId: "CD3HN88U9F"
     *     })
     */
    public reverseRefund(
        request: Payroc.cardPayments.ReverseRefundRefundsRequest,
        requestOptions?: RefundsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RetrievedRefund> {
        return core.HttpResponsePromise.fromPromise(this.__reverseRefund(request, requestOptions));
    }

    private async __reverseRefund(
        request: Payroc.cardPayments.ReverseRefundRefundsRequest,
        requestOptions?: RefundsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RetrievedRefund>> {
        const { refundId, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `refunds/${core.url.encodePathParam(refundId)}/reverse`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RetrievedRefund, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/refunds/{refundId}/reverse");
    }
}
