// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace RefundInstructionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RefundInstructionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RefundInstructionsClient.Options>;

    constructor(options: RefundInstructionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to submit an instruction request to initiate a refund on a payment device.
     *
     * In the request, include the refund amount and currency.
     *
     * If the request is successful, our gateway returns information about the refund instruction and a refundInstructionId, which you need for the following methods:
     * - [Retrieve refund instruction](https://docs.payroc.com/api/schema/payroc-cloud/refund-instructions/retrieve) - View the details of the refund instruction.
     * - [Cancel refund instruction](https://docs.payroc.com/api/schema/payroc-cloud/refund-instructions/delete) - Cancel the refund instruction.
     *
     * @param {Payroc.payrocCloud.RefundInstructionRequest} request
     * @param {RefundInstructionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.payrocCloud.refundInstructions.submit({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         serialNumber: "1850010868",
     *         operator: "Jane",
     *         processingTerminalId: "1234001",
     *         order: {
     *             orderId: "OrderRef6543",
     *             description: "Refund for order OrderRef6543",
     *             amount: 4999,
     *             currency: "USD"
     *         },
     *         customizationOptions: {
     *             entryMethod: "manualEntry"
     *         }
     *     })
     */
    public submit(
        request: Payroc.payrocCloud.RefundInstructionRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RefundInstruction> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: Payroc.payrocCloud.RefundInstructionRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RefundInstruction>> {
        const { serialNumber, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `devices/${core.url.encodePathParam(serialNumber)}/refund-instructions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RefundInstruction, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/devices/{serialNumber}/refund-instructions",
        );
    }

    /**
     * Use this method to retrieve information about a refund instruction.
     *
     * To retrieve a refund instruction, you need its refundInstructionId. Our gateway returned the refundInstructionId in the response of the [Submit Refund Instruction](https://docs.payroc.com/api/schema/payroc-cloud/refund-instructions/submit) method.
     *
     * Our gateway returns the status of the refund instruction. If the payment device completed the refund instruction, the response also includes a link to the refund.
     *
     * @param {Payroc.payrocCloud.RetrieveRefundInstructionsRequest} request
     * @param {RefundInstructionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.payrocCloud.refundInstructions.retrieve({
     *         refundInstructionId: "a37439165d134678a9100ebba3b29597"
     *     })
     */
    public retrieve(
        request: Payroc.payrocCloud.RetrieveRefundInstructionsRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.RefundInstruction> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.payrocCloud.RetrieveRefundInstructionsRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.RefundInstruction>> {
        const { refundInstructionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `refund-instructions/${core.url.encodePathParam(refundInstructionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.RefundInstruction, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/refund-instructions/{refundInstructionId}",
        );
    }

    /**
     * Use this method to cancel a refund instruction.
     *
     * You can cancel a refund instruction only if its status is `inProgress`. To retrieve the status of a refund instruction, use our [Retrieve Refund Instruction](https://docs.payroc.com/api/schema/payroc-cloud/refund-instructions/retrieve) method.
     *
     * To cancel a refund instruction, you need its refundInstructionId. Our gateway returned the refundInstructionId in the response of the [Submit Refund Instruction](https://docs.payroc.com/api/schema/payroc-cloud/refund-instructions/submit) method.
     *
     * @param {Payroc.payrocCloud.DeleteRefundInstructionsRequest} request
     * @param {RefundInstructionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.payrocCloud.refundInstructions.delete({
     *         refundInstructionId: "a37439165d134678a9100ebba3b29597"
     *     })
     */
    public delete(
        request: Payroc.payrocCloud.DeleteRefundInstructionsRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Payroc.payrocCloud.DeleteRefundInstructionsRequest,
        requestOptions?: RefundInstructionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { refundInstructionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `refund-instructions/${core.url.encodePathParam(refundInstructionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/refund-instructions/{refundInstructionId}",
        );
    }
}
