// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";

/**
 * @example
 *     {
 *         file: fs.createReadStream("/path/to/your/file"),
 *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
 *         processingAccountId: "38765",
 *         attachment: {
 *             type: "bankingEvidence"
 *         }
 *     }
 */
export interface UploadAttachment {
    /** Unique identifier that we assigned to the processing account. */
    processingAccountId: string;
    /** Unique identifier that you generate for each request. You must use the [UUID v4 format](https://www.rfc-editor.org/rfc/rfc4122) for the identifier. For more information about the idempotency key, go to [Idempotency](https://docs.payroc.com/api/idempotency). */
    "Idempotency-Key": string;
    /** Object that contains details about the attachment. */
    attachment: UploadAttachment.Attachment;
    /** File that you want to upload. */
    file: core.file.Uploadable;
}

export namespace UploadAttachment {
    /**
     * Object that contains details about the attachment.
     */
    export interface Attachment {
        /** Type of attachment. */
        type: Attachment.Type;
        /** Short description of the attachment. */
        description?: string | undefined;
        /** Object that you can send to include custom metadata in the request. */
        metadata?: Record<string, string> | undefined;
    }

    export namespace Attachment {
        /** Type of attachment. */
        export const Type = {
            BankingEvidence: "bankingEvidence",
            QuestionnairesAndLicenses: "questionnairesAndLicenses",
            MerchantStatements: "merchantStatements",
            TaxDocuments: "taxDocuments",
            MpaOrAmendment: "mpaOrAmendment",
            ProofOfBusiness: "proofOfBusiness",
            FinancialStatements: "financialStatements",
            PersonalIdentification: "personalIdentification",
            Other: "other",
        } as const;
        export type Type = (typeof Type)[keyof typeof Type];
    }
}
