// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace BankClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BankClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BankClient.Options>;

    constructor(options: BankClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to verify a customer's bank account details.
     *
     * In the request, send the customer's bank account details. Our gateway can verify the following types of bank details:
     * - Automated Clearing House (ACH) details
     * - Pre-Authorized Debit (PAD) details
     *
     * In the response, our gateway indicates if the account details are valid and if you should use them in follow-on actions.
     *
     *
     * @param {Payroc.paymentFeatures.BankAccountVerificationRequest} request
     * @param {BankClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.paymentFeatures.bank.verify({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         bankAccount: {
     *             type: "pad",
     *             nameOnAccount: "Sarah Hazel Hopper",
     *             accountNumber: "1234567890",
     *             transitNumber: "76543",
     *             institutionNumber: "543"
     *         }
     *     })
     *
     * @example
     *     await client.paymentFeatures.bank.verify({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         bankAccount: {
     *             type: "ach",
     *             nameOnAccount: "Shara Hazel Hopper",
     *             accountNumber: "1234567890",
     *             routingNumber: "123456789"
     *         }
     *     })
     */
    public verify(
        request: Payroc.paymentFeatures.BankAccountVerificationRequest,
        requestOptions?: BankClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.BankAccountVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__verify(request, requestOptions));
    }

    private async __verify(
        request: Payroc.paymentFeatures.BankAccountVerificationRequest,
        requestOptions?: BankClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.BankAccountVerificationResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                "bank-accounts/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.BankAccountVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/bank-accounts/verify");
    }
}
