// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace PaymentPlansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentPlansClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentPlansClient.Options>;

    constructor(options: PaymentPlansClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of payment plans for a processing terminal.
     *
     * **Note:** If you want to view the details of a specific payment plan and you have its paymentPlanId, use our [Retrieve Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/retrieve) method.
     *
     * Our gateway returns the following information about each payment plan in the list:
     *
     *   -	Name, length, and currency of the plan
     *   -	How often our gateway collects each payment
     *   -	How much our gateway collects for each payment
     *   -	What happens if the merchant updates or deletes the plan
     *
     * For each payment plan, we return the paymentPlanId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.repeatPayments.ListPaymentPlansRequest} request
     * @param {PaymentPlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.repeatPayments.paymentPlans.list({
     *         processingTerminalId: "1234001",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public async list(
        request: Payroc.repeatPayments.ListPaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): Promise<core.PayrocPager<Payroc.PaymentPlan, Payroc.PaymentPlanPaginatedList>> {
        const { processingTerminalId, before, after, limit } = request;
        const _queryParams: Record<string, unknown> = {
            before,
            after,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _request = {
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/payment-plans`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        };
        const _sendRequest = async (request: core.Fetcher.Args) => {
            const _response = await core.fetcher<Payroc.PaymentPlanPaginatedList>(request);
            if (_response.ok) {
                return _response;
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Payroc.BadRequestError(
                            _response.error.body as Payroc.FourHundred,
                            _response.rawResponse,
                        );
                    case 401:
                        throw new Payroc.UnauthorizedError(
                            _response.error.body as Payroc.FourHundredOne,
                            _response.rawResponse,
                        );
                    case 403:
                        throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                    case 406:
                        throw new Payroc.NotAcceptableError(
                            _response.error.body as Payroc.FourHundredSix,
                            _response.rawResponse,
                        );
                    case 500:
                        throw new Payroc.InternalServerError(
                            _response.error.body as Payroc.FiveHundred,
                            _response.rawResponse,
                        );
                    default:
                        throw new errors.PayrocError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                            rawResponse: _response.rawResponse,
                        });
                }
            }
            return handleNonStatusCodeError(
                _response.error,
                _response.rawResponse,
                "GET",
                "/processing-terminals/{processingTerminalId}/payment-plans",
            );
        };
        return core.createPayrocPager<Payroc.PaymentPlan, Payroc.PaymentPlanPaginatedList>({
            sendRequest: _sendRequest,
            initialHttpRequest: _request,
            clientOptions: this._options,
            requestOptions: requestOptions,
        });
    }

    /**
     * Use this method to create a payment schedule that you can assign customers to.
     *
     * **Note:** This method is part of our Repeat Payments feature. To help you understand how this method works with our Subscriptions endpoints, go to [Repeat Payments](https://docs.payroc.com/guides/take-payments/repeat-payments).
     *
     * When you create a payment plan you need to provide a unique paymentPlanId that you use to run follow-on actions:
     *
     * -	[Retrieve Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/retrieve)  - View the details of the payment plan.
     * -	[Update Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/partially-update)  - Update the details of the payment plan.
     * -	[Delete Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/delete)  - Delete the payment plan.
     * -	[Create Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create)  - Subscribe a customer to the payment plan.
     *
     * The request includes the following settings:
     *
     * -	**type** - Indicates if our gateway or the merchant collects payments. If the merchant manually collects payments, integrate with the [Pay Manual Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/pay) method.
     * -	**recurringOrder** - Amount of each payment if the gateway automatically collect payments.
     * -	**setupOrder** - Setup fee that our gateway immediately collects from the customer's payment method.
     * -	**onUpdate and onDelete** - Indicates what happens to associated subscriptions if the merchant updates or deletes the payment plan.
     *
     * @param {Payroc.repeatPayments.CreatePaymentPlansRequest} request
     * @param {PaymentPlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.repeatPayments.paymentPlans.create({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         body: {
     *             paymentPlanId: "PlanRef8765",
     *             name: "Premium Club",
     *             description: "Monthly Premium Club subscription",
     *             currency: "USD",
     *             length: 12,
     *             type: "automatic",
     *             frequency: "monthly",
     *             onUpdate: "continue",
     *             onDelete: "complete",
     *             customFieldNames: ["yourCustomField"],
     *             setupOrder: {
     *                 amount: 4999,
     *                 description: "Initial setup fee for Premium Club subscription",
     *                 breakdown: {
     *                     subtotal: 4347,
     *                     taxes: [{
     *                             name: "Sales Tax",
     *                             rate: 5
     *                         }]
     *                 }
     *             },
     *             recurringOrder: {
     *                 amount: 4999,
     *                 description: "Monthly Premium Club subscription",
     *                 breakdown: {
     *                     subtotal: 4347,
     *                     taxes: [{
     *                             name: "Sales Tax",
     *                             rate: 5
     *                         }]
     *                 }
     *             }
     *         }
     *     })
     */
    public create(
        request: Payroc.repeatPayments.CreatePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.PaymentPlan> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Payroc.repeatPayments.CreatePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.PaymentPlan>> {
        const { processingTerminalId, "Idempotency-Key": idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/payment-plans`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.PaymentPlan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/processing-terminals/{processingTerminalId}/payment-plans",
        );
    }

    /**
     * Use this method to retrieve information about a payment plan.
     *
     * To retrieve a payment plan, you need its paymentPlanId. Our gateway returned the paymentPlanId in the response of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
     *
     * **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
     *
     * Our gateway returns the following information about the payment plan:
     *
     *   -	Name, length, and currency of the plan
     *   -	How often our gateway collects each payment
     *   -	How much our gateway collects for each payment
     *   -	What happens if the merchant updates or deletes the plan
     *
     * @param {Payroc.repeatPayments.RetrievePaymentPlansRequest} request
     * @param {PaymentPlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.repeatPayments.paymentPlans.retrieve({
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765"
     *     })
     */
    public retrieve(
        request: Payroc.repeatPayments.RetrievePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.PaymentPlan> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.repeatPayments.RetrievePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.PaymentPlan>> {
        const { processingTerminalId, paymentPlanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/payment-plans/${core.url.encodePathParam(paymentPlanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.PaymentPlan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-terminals/{processingTerminalId}/payment-plans/{paymentPlanId}",
        );
    }

    /**
     * Use this method to delete a payment plan.
     *
     * > **Important:** When you delete a payment plan, you can’t recover it. You also won’t be able to add subscriptions to the payment plan.
     *
     * To delete a payment plan, you need its paymentPlanId, which you sent in the request of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
     *
     * **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
     *
     * The value you sent for the onDelete parameter when you created the payment plan indicates what happens to associated subscriptions when you delete the plan:
     *
     *   -	`complete` - Our gateway stops taking payments for the subscriptions associated with the payment plan.
     *   -	`continue` - Our gateway continues to take payments for the subscriptions associated with the payment plan. To stop a subscription for a cancelled payment plan, go to the [Deactivate Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/deactivate) method.
     *
     * @param {Payroc.repeatPayments.DeletePaymentPlansRequest} request
     * @param {PaymentPlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.repeatPayments.paymentPlans.delete({
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765"
     *     })
     */
    public delete(
        request: Payroc.repeatPayments.DeletePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Payroc.repeatPayments.DeletePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { processingTerminalId, paymentPlanId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/payment-plans/${core.url.encodePathParam(paymentPlanId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/processing-terminals/{processingTerminalId}/payment-plans/{paymentPlanId}",
        );
    }

    /**
     * Use this method to partially update a payment plan. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
     *
     * To update a payment plan, you need its paymentPlanId, which you sent in the request of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
     *
     * **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
     *
     * You can update all of the properties of the payment plan except for the paymentPlanId.
     *
     * The value you sent for the onUpdate parameter when you created the payment plan indicates what happens to the associated subscriptions when you update the plan:
     * - `update` - Our gateway updates the subscriptions associated with the payment plan.
     * - `continue` - Our  gateway doesn't update the subscriptions associated with the payment plan.
     *
     * @param {Payroc.repeatPayments.PartiallyUpdatePaymentPlansRequest} request
     * @param {PaymentPlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.repeatPayments.paymentPlans.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.repeatPayments.paymentPlans.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.repeatPayments.paymentPlans.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765",
     *         body: [{
     *                 op: "move",
     *                 from: "from",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.repeatPayments.paymentPlans.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765",
     *         body: [{
     *                 op: "copy",
     *                 from: "from",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.repeatPayments.paymentPlans.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         paymentPlanId: "PlanRef8765",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "move",
     *                 from: "from",
     *                 path: "path"
     *             }, {
     *                 op: "copy",
     *                 from: "from",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     */
    public partiallyUpdate(
        request: Payroc.repeatPayments.PartiallyUpdatePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.PaymentPlan> {
        return core.HttpResponsePromise.fromPromise(this.__partiallyUpdate(request, requestOptions));
    }

    private async __partiallyUpdate(
        request: Payroc.repeatPayments.PartiallyUpdatePaymentPlansRequest,
        requestOptions?: PaymentPlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.PaymentPlan>> {
        const { processingTerminalId, paymentPlanId, "Idempotency-Key": idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/payment-plans/${core.url.encodePathParam(paymentPlanId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.PaymentPlan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/processing-terminals/{processingTerminalId}/payment-plans/{paymentPlanId}",
        );
    }
}
