// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace SecureTokensClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SecureTokensClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SecureTokensClient.Options>;

    constructor(options: SecureTokensClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of secure tokens.
     *
     * **Note:** If you want to view the details of a specific secure token and you have its secureTokenId, use our [Retrieve Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/retrieve) method.
     *
     * Use query parameters to filter the list of results that we return, for example, to search for secure tokens by customer or by the first four digits of a card number.
     *
     * Our gateway returns information about the following for each secure token in the list:
     *
     *   -	Payment details that the secure token represents.
     *   -	Customer details, including shipping and billing addresses.
     *   -	Secure token that you can use to carry out transactions.
     *
     *   For each secure token, we also return the secureTokenId, which you can use to perform follow-on actions.
     *
     * @param {Payroc.tokenization.ListSecureTokensRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.list({
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         customerName: "Sarah%20Hazel%20Hopper",
     *         phone: "2025550165",
     *         email: "sarah.hopper@example.com",
     *         token: "296753123456",
     *         first6: "453985",
     *         last4: "7062",
     *         before: "2571",
     *         after: "8516",
     *         limit: 1
     *     })
     */
    public async list(
        request: Payroc.tokenization.ListSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.PayrocPager<Payroc.SecureTokenWithAccountType, Payroc.SecureTokenPaginatedListWithAccountType>> {
        const {
            processingTerminalId,
            secureTokenId,
            customerName,
            phone,
            email,
            token,
            first6,
            last4,
            before,
            after,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            secureTokenId,
            customerName,
            phone,
            email,
            token,
            first6,
            last4,
            before,
            after,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _request = {
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        };
        const _sendRequest = async (request: core.Fetcher.Args) => {
            const _response = await core.fetcher<Payroc.SecureTokenPaginatedListWithAccountType>(request);
            if (_response.ok) {
                return _response;
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Payroc.BadRequestError(
                            _response.error.body as Payroc.FourHundred,
                            _response.rawResponse,
                        );
                    case 401:
                        throw new Payroc.UnauthorizedError(
                            _response.error.body as Payroc.FourHundredOne,
                            _response.rawResponse,
                        );
                    case 403:
                        throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                    case 406:
                        throw new Payroc.NotAcceptableError(
                            _response.error.body as Payroc.FourHundredSix,
                            _response.rawResponse,
                        );
                    case 500:
                        throw new Payroc.InternalServerError(
                            _response.error.body as Payroc.FiveHundred,
                            _response.rawResponse,
                        );
                    default:
                        throw new errors.PayrocError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                            rawResponse: _response.rawResponse,
                        });
                }
            }
            return handleNonStatusCodeError(
                _response.error,
                _response.rawResponse,
                "GET",
                "/processing-terminals/{processingTerminalId}/secure-tokens",
            );
        };
        return core.createPayrocPager<
            Payroc.SecureTokenWithAccountType,
            Payroc.SecureTokenPaginatedListWithAccountType
        >({
            sendRequest: _sendRequest,
            initialHttpRequest: _request,
            clientOptions: this._options,
            requestOptions: requestOptions,
        });
    }

    /**
     * Use this method to create a secure token that represents a customer's payment details.
     *
     * When you create a secure token, you need to generate and provide a secureTokenId that you use to run follow-on actions:
     * - [Retrieve Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/retrieve) – View the details of the secure token.
     * - [Delete Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/delete) – Delete the secure token.
     * - [Update Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/partially-update) – Update the details of the secure token.
     * - [Update Account Details](https://docs.payroc.com/api/schema/tokenization/secure-tokens/update-account) – Update the secure token with the details from a single-use token.
     *
     * **Note:** If you don't generate a secureTokenId to identify the token, our gateway generates a unique identifier and returns it in the response.
     *
     * If the request is successful, our gateway returns a token that the merchant can use in transactions instead of the customer's sensitive payment details, for example, when they [run a sale](https://docs.payroc.com/api/schema/card-payments/payments/create).
     *
     * @param {Payroc.tokenization.TokenizationRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.create({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         operator: "Jane",
     *         mitAgreement: "unscheduled",
     *         customer: {
     *             firstName: "Sarah",
     *             lastName: "Hopper",
     *             dateOfBirth: "1990-07-15",
     *             referenceNumber: "Customer-12",
     *             billingAddress: {
     *                 address1: "1 Example Ave.",
     *                 address2: "Example Address Line 2",
     *                 address3: "Example Address Line 3",
     *                 city: "Chicago",
     *                 state: "Illinois",
     *                 country: "US",
     *                 postalCode: "60056"
     *             },
     *             shippingAddress: {
     *                 recipientName: "Sarah Hopper",
     *                 address: {
     *                     address1: "1 Example Ave.",
     *                     address2: "Example Address Line 2",
     *                     address3: "Example Address Line 3",
     *                     city: "Chicago",
     *                     state: "Illinois",
     *                     country: "US",
     *                     postalCode: "60056"
     *                 }
     *             },
     *             contactMethods: [{
     *                     type: "email",
     *                     value: "jane.doe@example.com"
     *                 }],
     *             notificationLanguage: "en"
     *         },
     *         ipAddress: {
     *             type: "ipv4",
     *             value: "104.18.24.203"
     *         },
     *         source: {
     *             type: "card",
     *             cardDetails: {
     *                 entryMethod: "raw",
     *                 device: {
     *                     model: "bbposChp",
     *                     serialNumber: "1850010868"
     *                 },
     *                 rawData: "A1B2C3D4E5F67890ABCD1234567890ABCDEF1234567890ABCDEF1234567890ABCDEF"
     *             }
     *         },
     *         customFields: [{
     *                 name: "yourCustomField",
     *                 value: "abc123"
     *             }]
     *     })
     */
    public create(
        request: Payroc.tokenization.TokenizationRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.SecureToken> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Payroc.tokenization.TokenizationRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.SecureToken>> {
        const { processingTerminalId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.SecureToken, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/processing-terminals/{processingTerminalId}/secure-tokens",
        );
    }

    /**
     * Use this method to retrieve information about a secure token.
     *
     * To retrieve a secure token, you need its secureTokenID, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
     *
     * **Note:** If you don't have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search for the secure token.
     *
     * Our gateway returns the following information about the secure token:
     *
     *   -	Payment details that the secure token represents.
     *   -	Customer details, including shipping and billing addresses.
     *   -	Secure token that you can use to carry out transactions.
     *
     * @param {Payroc.tokenization.RetrieveSecureTokensRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.retrieve({
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa"
     *     })
     */
    public retrieve(
        request: Payroc.tokenization.RetrieveSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.SecureTokenWithAccountType> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.tokenization.RetrieveSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.SecureTokenWithAccountType>> {
        const { processingTerminalId, secureTokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens/${core.url.encodePathParam(secureTokenId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.SecureTokenWithAccountType, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/processing-terminals/{processingTerminalId}/secure-tokens/{secureTokenId}",
        );
    }

    /**
     * Use this method to delete a secure token and its related payment details from our vault.
     *
     * To delete a secure token, you need its secureTokenId, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
     *
     * **Note:** If you don’t have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search for the secure token.
     *
     * When you delete a secure token, you can’t recover it, and you can’t reuse its identifier for a new token.
     *
     * @param {Payroc.tokenization.DeleteSecureTokensRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.delete({
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa"
     *     })
     */
    public delete(
        request: Payroc.tokenization.DeleteSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Payroc.tokenization.DeleteSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { processingTerminalId, secureTokenId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens/${core.url.encodePathParam(secureTokenId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/processing-terminals/{processingTerminalId}/secure-tokens/{secureTokenId}",
        );
    }

    /**
     * Use this method to partially update a secure token. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
     *
     * To update a secure token, you need its secureTokenId, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
     *
     * **Note:** If you don't have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search  for the payment.
     *
     * You can update all of the properties of the secure token, except the following:
     * - processingTerminalId
     * - type
     * - token
     * - status
     * - source/Card
     *   - type
     *   - cardNumber
     *   - cardType
     *   - currency
     *   - debit
     *   - surcharging
     * - source/ACH account
     *   - accountNumber
     *   - routingNumber
     * - source/PAD account
     *   - type
     *   - accountNumber
     *   - transitNumber
     *
     * @param {Payroc.tokenization.PartiallyUpdateSecureTokensRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.tokenization.secureTokens.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.tokenization.secureTokens.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: [{
     *                 op: "move",
     *                 from: "from",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.tokenization.secureTokens.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: [{
     *                 op: "copy",
     *                 from: "from",
     *                 path: "path"
     *             }]
     *     })
     *
     * @example
     *     await client.tokenization.secureTokens.partiallyUpdate({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: [{
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }, {
     *                 op: "move",
     *                 from: "from",
     *                 path: "path"
     *             }, {
     *                 op: "copy",
     *                 from: "from",
     *                 path: "path"
     *             }, {
     *                 op: "remove",
     *                 path: "path"
     *             }]
     *     })
     */
    public partiallyUpdate(
        request: Payroc.tokenization.PartiallyUpdateSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.SecureToken> {
        return core.HttpResponsePromise.fromPromise(this.__partiallyUpdate(request, requestOptions));
    }

    private async __partiallyUpdate(
        request: Payroc.tokenization.PartiallyUpdateSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.SecureToken>> {
        const { processingTerminalId, secureTokenId, "Idempotency-Key": idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens/${core.url.encodePathParam(secureTokenId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.SecureToken, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/processing-terminals/{processingTerminalId}/secure-tokens/{secureTokenId}",
        );
    }

    /**
     * Use this method to update a secure token if you have a single-use token from Hosted Fields.
     *
     * **Note:** If you don't have a single-use token, you can update saved payment details with our [Update Secure Token](https://docs.payroc.com/api/resources#updateSecureToken) method. For more information about our two options to update a secure token, go to [Update saved payment details](https://docs.payroc.com/guides/take-payments/update-saved-payment-details).
     *
     * @param {Payroc.tokenization.UpdateAccountSecureTokensRequest} request
     * @param {SecureTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.ConflictError}
     * @throws {@link Payroc.ContentTooLargeError}
     * @throws {@link Payroc.UnsupportedMediaTypeError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.tokenization.secureTokens.updateAccount({
     *         "Idempotency-Key": "8e03978e-40d5-43e8-bc93-6894a57f9324",
     *         processingTerminalId: "1234001",
     *         secureTokenId: "MREF_abc1de23-f4a5-6789-bcd0-12e345678901fa",
     *         body: {
     *             type: "singleUseToken",
     *             token: "abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
     *         }
     *     })
     */
    public updateAccount(
        request: Payroc.tokenization.UpdateAccountSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.SecureToken> {
        return core.HttpResponsePromise.fromPromise(this.__updateAccount(request, requestOptions));
    }

    private async __updateAccount(
        request: Payroc.tokenization.UpdateAccountSecureTokensRequest,
        requestOptions?: SecureTokensClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.SecureToken>> {
        const { processingTerminalId, secureTokenId, "Idempotency-Key": idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `processing-terminals/${core.url.encodePathParam(processingTerminalId)}/secure-tokens/${core.url.encodePathParam(secureTokenId)}/update-account`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.SecureToken, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Payroc.ConflictError(
                        _response.error.body as Payroc.FourHundredNine,
                        _response.rawResponse,
                    );
                case 413:
                    throw new Payroc.ContentTooLargeError(
                        _response.error.body as Payroc.FourHundredThirteen,
                        _response.rawResponse,
                    );
                case 415:
                    throw new Payroc.UnsupportedMediaTypeError(
                        _response.error.body as Payroc.FourHundredFifteen,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/processing-terminals/{processingTerminalId}/secure-tokens/{secureTokenId}/update-account",
        );
    }
}
