// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Payroc from "../../../../../index.js";

export declare namespace OwnersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OwnersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OwnersClient.Options>;

    constructor(options: OwnersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Use this method to retrieve details about an owner of a processing account or an owner associated with a funding recipient.
     *
     * To retrieve an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Processing Account](https://docs.payroc.com/api/schema/boarding/merchant-platforms/create-processing-account) method or the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.
     *
     * **Note:** If you don't have the ownerId, use the [Retrieve Processing Account](https://docs.payroc.com/api/schema/boarding/processing-accounts/retrieve) method if you are searching for a processing account owner, or use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method if you are searching for a funding recipient owner.
     *
     * Our gateway returns the following information about an owner:
     * - Name, date of birth, and address.
     * - Contact details, including their email address.
     * - Relationship to the business, including whether they are a control prong or authorized signatory, and their equity stake in the business.
     *
     * @param {Payroc.boarding.RetrieveOwnersRequest} request
     * @param {OwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.owners.retrieve({
     *         ownerId: 1
     *     })
     */
    public retrieve(
        request: Payroc.boarding.RetrieveOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): core.HttpResponsePromise<Payroc.Owner> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Payroc.boarding.RetrieveOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payroc.Owner>> {
        const { ownerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `owners/${core.url.encodePathParam(ownerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payroc.Owner, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/owners/{ownerId}");
    }

    /**
     * > **Important:** You can't update the details of an owner of a processing account.
     *
     * Use this method to update the details of an owner associated with a funding recipient.
     *
     * To update an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.
     *
     * **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.
     *
     * You can update the following details about an owner:
     *
     * - Personal details, including their name, date of birth, and address.
     * - Identification details, including their identification type and number.
     * - Contact details, including their email address.
     * - Relationship to the business, including whether they are a control prong.
     *
     * @param {Payroc.boarding.UpdateOwnersRequest} request
     * @param {OwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.NotAcceptableError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.owners.update({
     *         ownerId: 1,
     *         body: {
     *             firstName: "Jane",
     *             middleName: "Helen",
     *             lastName: "Doe",
     *             dateOfBirth: "1964-03-22",
     *             address: {
     *                 address1: "1 Example Ave.",
     *                 address2: "Example Address Line 2",
     *                 address3: "Example Address Line 3",
     *                 city: "Chicago",
     *                 state: "Illinois",
     *                 country: "US",
     *                 postalCode: "60056"
     *             },
     *             identifiers: [{
     *                     type: "nationalId",
     *                     value: "000-00-4320"
     *                 }],
     *             contactMethods: [{
     *                     type: "email",
     *                     value: "jane.doe@example.com"
     *                 }],
     *             relationship: {
     *                 equityPercentage: 48.5,
     *                 title: "CFO",
     *                 isControlProng: true,
     *                 isAuthorizedSignatory: false
     *             }
     *         }
     *     })
     */
    public update(
        request: Payroc.boarding.UpdateOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Payroc.boarding.UpdateOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { ownerId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `owners/${core.url.encodePathParam(ownerId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 406:
                    throw new Payroc.NotAcceptableError(
                        _response.error.body as Payroc.FourHundredSix,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/owners/{ownerId}");
    }

    /**
     * > **Important:** You can't delete an owner of a processing account.
     *
     * Use this method to delete an owner associated with a funding recipient. You can delete an owner only if the funding recipient has more than one owner.
     *
     * To delete an owner, you need their ownerId. Our gateway returned the ownerId in the response of the [Create Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/create) method and the [Create Funding Recipient Owner](https://docs.payroc.com/api/schema/funding/funding-recipients/create-owner) method.
     *
     * **Note:** If you don't have the ownerId, use the [List Funding Recipient Owners](https://docs.payroc.com/api/schema/funding/funding-recipients/list-owners) method, the [Retrieve Funding Recipient](https://docs.payroc.com/api/schema/funding/funding-recipients/retrieve) method, or the [List Funding Recipients](https://docs.payroc.com/api/schema/funding/funding-recipients/list) method to search for the funding recipient owner.
     *
     * @param {Payroc.boarding.DeleteOwnersRequest} request
     * @param {OwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payroc.BadRequestError}
     * @throws {@link Payroc.UnauthorizedError}
     * @throws {@link Payroc.ForbiddenError}
     * @throws {@link Payroc.NotFoundError}
     * @throws {@link Payroc.InternalServerError}
     *
     * @example
     *     await client.boarding.owners.delete({
     *         ownerId: 1
     *     })
     */
    public delete(
        request: Payroc.boarding.DeleteOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Payroc.boarding.DeleteOwnersRequest,
        requestOptions?: OwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { ownerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.PayrocEnvironment.Production)
                        .api,
                `owners/${core.url.encodePathParam(ownerId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payroc.BadRequestError(_response.error.body as Payroc.FourHundred, _response.rawResponse);
                case 401:
                    throw new Payroc.UnauthorizedError(
                        _response.error.body as Payroc.FourHundredOne,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payroc.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payroc.NotFoundError(
                        _response.error.body as Payroc.FourHundredFour,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payroc.InternalServerError(
                        _response.error.body as Payroc.FiveHundred,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayrocError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/owners/{ownerId}");
    }
}
